<div class="col-xs-12 m-t-10">
    <h4 class="grey-text">
        <i class="md md-dashboard"></i> Calificar y compartir <small>experiencia de uso de un recurso o servicio</small>
    </h4>
</div>
<div class="col-xs-12 m-t-10">
    <div class="panel">
        <div class="yellow-text accent-4 f40 text-center" ng-mouseleave="">
            {{score}}
            <i class="md pointer" ng-class="{'md-star-outline':rateForm.score<1,'md-star':rateForm.score>0}" bs-tooltip data-title="Malo" ng-mousemove="rateForm.temp_score=1" ng-click="rateForm.score=1"></i>&nbsp;
            <i class="md pointer" ng-class="{'md-star-outline':rateForm.score<2,'md-star':rateForm.score>1}" bs-tooltip data-title="Aceptable" ng-mousemove="rateForm.temp_score=2" ng-click="rateForm.score=2"></i>&nbsp;
            <i class="md pointer" ng-class="{'md-star-outline':rateForm.score<3,'md-star':rateForm.score>2}" bs-tooltip data-title="Regular" ng-mousemove="rateForm.temp_score=3" ng-click="rateForm.score=3"></i>&nbsp;
            <i class="md pointer" ng-class="{'md-star-outline':rateForm.score<4,'md-star':rateForm.score>3}" bs-tooltip data-title="Bueno" ng-mousemove="rateForm.temp_score=4" ng-click="rateForm.score=4"></i>&nbsp;
            <i class="md pointer" ng-class="{'md-star-outline':rateForm.score<5,'md-star':rateForm.score>4}" bs-tooltip data-title="Grandioso" ng-mousemove="rateForm.temp_score=5" ng-click="rateForm.score=5"></i>

        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-7 m-t-10">
    <h4 class="grey-text">
        <i class="md md-dashboard"></i> ¿Cómo lo usó?
    </h4>
    <div class="panel">
        <div class="form-group">
            <text-angular-toolbar name="toolbar1{{rs._id}}" ta-toolbar="[['bold', 'italics', 'ul', 'ol', 'redo', 'undo', 'insertImage', 'insertLink', 'insertVideo']]"></text-angular-toolbar>
            <text-angular ng-model="rateForm.content" ta-target-toolbars='toolbar1{{rs._id}},toolbar2{{rs._id}}'></text-angular>
            <text-angular-toolbar name="toolbar2{{rs._id}}" ta-toolbar="[['html', 'charcount', 'wordcount']]"></text-angular-toolbar>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-5 m-t-10">
    <h4 class="grey-text">
        <i class="md md-dashboard"></i> ¿En qué tipo de actividad?
    </h4>
    <div class="panel">
        <div class="list-group">
            <div class="list-group-item activator clearfix pointer" ng-class="{'hoverable':!rateForm.activities[i._id]}" ng-repeat="i in activities track by $index" ng-click="rateForm.activities[i._id]=!rateForm.activities[i._id]">
                <div class="checkbox pull-left no-m-t no-m-b m-r-10 relative">
                    <label class="absolute center hoverable-show">
                    <input type="checkbox" ng-model="rateForm.activities[i._id]" />
                    </label>
                    <img ng-src="{{i.image.url}}" class="img-responsive hoverable-hide" alt="" />
                </div>
                <div class="list-group-item-heading">{{i.name}}</div>
                <p class="list-group-item-text" title="{{i.description}}">{{i.description}}</p>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 m-t-10 text-center">
    <p class="strong text-danger">{{errorSubmitExperience}}</p>
    <button class="btn btn-lg btn-success m-10" ng-click="submitExperience()">{{rateForm._id?'Actualizar':'Enviar'}} experiencia</button>
    <button class="btn btn-lg m-10" ng-click="goRatings()">Ver calificaciones</button>
</div>