<div class="col-xs-12 m-t-10">
    <h4 class="grey-text">
        <i class="md md-dashboard"></i>Calificaciones y experiencias ({{ratings.length||0}})
    </h4>
</div>
<div class="col-xs-12 m-t-10" ng-repeat="rate in ratings">
    <div>

        <h4><i class="md md-person-outline"></i> {{rate.creator.name}} <small><i class="md md-timer"></i> {{rate.updated_at | timeAgo}}</small></h4>
    </div>
    <div class="panel p-10 m-t-20">
        <div class="pin"></div>
        <div class="pull-right" ng-if="APP.user.role=='admin'">
            <div ng-click="removeRate(rate)" class="btn btn-round-sm btn-link" bs-tooltip="" title="Quitar esta calificación"><i class="md md-delete"></i></div>
        </div>
        <div ng-bind-html="rate.content" class="html-content p-10"></div>
        <div class="text-center">
            <div class="text-center">
                <div class="yellow-text accent-4 f20">
                    <i ng-class="{'md-star-outline':rate.score<1,'md-star':rate.score>0}" class="md" title="Malo"></i>&nbsp;
                    <i ng-class="{'md-star-outline':rate.score<2,'md-star':rate.score>1}" class="md text-gray" title="Aceptable"></i>&nbsp;
                    <i ng-class="{'md-star-outline':rate.score<3,'md-star':rate.score>2}" class="md text-gray" title="Regular"></i>&nbsp;
                    <i ng-class="{'md-star-outline':rate.score<4,'md-star':rate.score>3}" class="md text-gray" title="Bueno"></i>&nbsp;
                    <i ng-class="{'md-star-outline':rate.score<5,'md-star':rate.score>4}" class="md text-gray" title="Grandioso"></i>
                </div>
            </div>
            <div class="text-center p-h-5" ng-repeat="activity_id in rate.activities_ids" style="display: inline-block" bs-tooltip data-title="{{getActivity(activity_id).description}}">
                <img style="margin: 0 auto;" ng-src="{{getActivity(activity_id).image.url}}" class="img-responsive" width="50px" height="50px" alt="" />
                <small class="strong">{{getActivity(activity_id).name}}</small>
            </div>
        </div>
    </div>
</div>
</div>