<div ng-if="rs_feature.url_data" style="padding:5px;    max-width: 400px;margin: 0 auto;border: 1px dashed #dddddd;">
    <div class="pull-right">
        <div ng-click="rs_feature.url_data=null" class="btn btn-round-sm btn-link">
            <i class="md md-remove"></i>
        </div>
    </div>
    <div>
        <div>
            <img ng-if="rs_feature.url_data.icon" ng-src="{{rs_feature.url_data.icon}}" width="16" height="16">
            <a ng-if="rs_feature.url_data.origen" target="_blank" href="{{rs_feature.content}}" class="uppercase">{{rs_feature.url_data.origen}}</a>
        </div>
    </div>
    <div>
        <div>
            <div style="text-align: center">
                <a target="_blank" href="{{rs_feature.content}}">
                    <img class="art-bd-img" ng-src="{{rs_feature.url_data.image}}" style="width:100%;max-height:200px;opacity: 1;"></a>
            </div>
            <div>
                <span><a class="strong f14" target="_blank" href="{{rs_feature.content}}">{{rs_feature.url_data.title}}</a></span>
                <p class="f12">{{rs_feature.url_data.description}}</p>
            </div>
        </div>
    </div>
</div>