<div ng-repeat="rs_feature in rs.rs_features">
    <div class="col-xs-12" ng-class="['col-md-'+rs_feature.width]">
        <div class="row">
            <div class="col-xs-12 m-t-10">
                <h4 class="grey-text">
                    <i class="md md-dashboard"></i> {{rs_feature.feature.name}}
                    <small class="text-mutted">{{rs_feature.feature.description}}</small>
                </h4>
            </div>

            <div class="col-xs-12 m-b-10">
                <div ng-switch="rs_feature.feature.type">
                    <div ng-switch-when="url">
                        <div class="panel p-10">
                            <a ng-if="!rs_feature.url_data" ng-href="{{rs_feature.content}}" target="_blank">{{rs_feature.content}}</a>
                            <div ng-if="rs_feature.url_data">
                                <div ng-include="APP.cdn_url+'/assets/tpl/partials/rs-feature-url.html?'+APP.refresh"></div>
                            </div>
                        </div>
                    </div>
                    <div ng-switch-when="url_video">
                        <div class="panel p-10">
                            <a ng-if="!rs_feature.url_data" ng-href="{{rs_feature.content}}" target="_blank">{{rs_feature.content}}</a>
                            <div ng-if="rs_feature.url_data">
                                <div ng-include="APP.cdn_url+'/assets/tpl/partials/rs-feature-video.html?'+APP.refresh"></div>
                            </div>
                        </div>
                    </div>
                    <div ng-switch-default>
                        <div class="panel p-10" ng-bind-html="rs_feature.content" style="white-space: pre-wrap;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="rs.rs_activities.length">
    <div class="col-xs-12 m-t-10">
        <h4 class="grey-text">
            <i class="md md-dashboard"></i> Potencial para actividades pedagógicas
        </h4>
    </div>
    <div class="col-xs-12 m-b-10">
        <div class="row">
            <div class="col-xs-12 m-b-10" ng-repeat="rs_activity in rs.rs_activities" ng-class-even="'col-sm-6'" ng-class-odd="$last?'':'col-sm-6'">
                <div class="panel p-10">
                    <div class="activity-img" ng-style="{'background-image': 'url(\''+getActivity(rs_activity.activity_id).image.url+'\')'}">
                    </div>
                    <div class="activity-content">
                        <p class="strong uppercase">{{getActivity(rs_activity.activity_id).name}}:</p>
                        <p ng-repeat="detail in rs_activity.details track by $index">{{detail}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="rs.tags.length">
    <div class="col-xs-12 m-t-10">
        <h4 class="grey-text">
            <i class="md md-dashboard"></i> Palabras clave
        </h4>
    </div>
    <div class="col-xs-12 m-b-10">
        <div class="panel p-10">
            <div class="tags">
                <a ng-href="buscar/{{tag}}" ng-repeat="tag in rs.tags"><span class="badge  blue m-h-5 f12 uppercase">{{tag}}</span></a>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 m-t-10 text-center">
    <p class="strong text-danger">{{errorSubmitExperience}}</p>
    <button class="btn btn-lg btn-success m-10" ng-click="goRate()">Calificar</button>
    <button class="btn btn-lg m-10" ng-click="goRatings()">Ver calificaciones</button>
</div>