<div class="tooltip in">
    <div class="tooltip-arrow" style="left: 50%;"></div>
    <div class="tooltip-inner" style="min-width: 200px;">
        <div class="text-mutted m-b-10">{{rs.rs_rates.avg}} de 5 estrellas</div>
        <div ng-repeat="i in [4,3,2,1,0]">
            <div class="text-left">
                {{i+1}} estrella{{i>0?'s':''}} <span class="pull-right">{{((100*rs.rs_rates.details[i])-((100*rs.rs_rates.details[i])%rs.rs_rates.count))/rs.rs_rates.count}}%</span>
            </div>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-warning" style="width: {{((100*rs.rs_rates.details[i])-((100*rs.rs_rates.details[i])%rs.rs_rates.count))/rs.rs_rates.count}}%;"></div>
            </div>
        </div>
        <!--<small><a ui-sref="rs-action({slug:rs.slug,action:'calificaciones'})">Ver calificaciones y experiencias</a></small>-->
    </div>
</div>