<nav class="" ng-class="{'navbar scroll navbar-default navbar-fixed-top':(scroll && scroll>20)}" style="height: 40px;">
    <div class="container">
        <a class="navbar-brand" href="/" ng-hide="hideLogo && (!scroll || scroll<170)">
            <img class="responsive" ng-src="{{APP.cdn_url}}/assets/img/logo-solo.png" style="max-height: 40px;top: 0;position: absolute;" />
        </a>
        <div class="navbar-text pull-right ">
            <a ng-if="!APP.user" class="pointer" ng-click="showLogin()">Acceder</a>
            <div class="dropdown" ng-if="APP.user">
                <button ng-if="APP.user" class="btn btn-link btn-flat dropdown-toggle" bs-dropdown>{{APP.user.name}} <span class="caret"></span></button>
                <ul class="dropdown-menu" style=" top: 69px;left: -37px;">
                    <li class="dropdown-header">Recurso o Servicio:</li>
                    <li><a ui-sref="rs-new"><small>Sugerir Nuevo</small></a></li>
                    <li><a ui-sref="my-suggestions"><small>Sugeridos por mi</small></a></li>
                    <li><a ui-sref="my-rates"><small>Calificados por mi</small></a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Usuario:</li>
                    <li ng-click="logout()"><a href=""><small>Cerrar sesión</small></a></li>
                </ul>
            </div>

        </div>

        <!--<div navbar-search></div>-->
    </div>
</nav>