<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
    <div class="close">
        <div class="btn btn-round btn-info" ng-click="$hide()"><i class="md md-close"></i></div>
    </div>
    <div class="aside-dialog">
        <div class="aside-body bs-sidebar">
            <form name="myForm" class="form-floating" novalidate="novalidate" ng-submit="saveItem(item)">
                <fieldset>
                    <legend> {{cmd}} {{settings.singular}}</legend>
                    <div class="form-group filled">
                        <label class="control-label">Username</label>
                        <input type="text" class="form-control" ng-model="item.username" ng-disabled="!item.editing" required>
                    </div>
                    <div class="form-group filled">
                        <label class="control-label">Name</label>
                        <input type="text" class="form-control" ng-model="item.name" ng-disabled="!item.editing" required>
                    </div>
                    <div class="form-group filled">
                        <label class="control-label">Role</label>
                        <ui-select ng-model="item.role" theme="select2" title="Choose a role" search-enabled="false" ng-disabled="!item.editing">
                            <ui-select-match placeholder="Choose a Role">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="role in ['admin','instructor']">
                                <div ng-bind-html="role"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group filled">
                        <label class="control-label">Supplier</label>
                        <ui-select ng-model="item.supplier_id" theme="select2" title="Choose a Supplier" search-enabled="false" ng-disabled="!item.editing">
                            <ui-select-match placeholder="Choose a Supplier">{{$select.selected.value.name}}</ui-select-match>
                            <ui-select-choices repeat="supplier.value._id as (supplier_id, supplier) in suppliers | filter: $select.search">
                                <div ng-bind-html="supplier.value.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group filled" ng-if="item.supplier_id">
                        <label class="control-label">Department</label>
                        <ui-select ng-model="item.department_id" theme="select2" title="Choose a department" search-enabled="true" ng-disabled="!item.editing">
                            <ui-select-match placeholder="Choose a department">{{$select.selected.value.name}}</ui-select-match>
                            <ui-select-choices repeat="department.value._id as (department_id, department) in getSupplier(item.supplier_id).departments | filter: $select.search">
                                <div ng-bind-html="department.value.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-primary" ng-hide="!item.editing">Save</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>