<div class="container m-t-40" ng-controller="CrudResourceServiceController">
    <section>
        <div class="page-header">
            <div class="actions">
            </div>
            <h1>
                <i class="md md-camera"></i> {{settings.plural}}
            </h1>
            <p class="lead">
            </p>
        </div>
    </section>
    <div>
        <div class="table-responsive well no-padding white no-margin">
            <h3 class="table-title">{{data.length}} {{settings.plural}} disponibles</h3>
            <table class="table table-full m-b-60" id="table-area-1" fsm-big-data="data of data take 30">
                <thead>
                    <tr fsm-sticky-header scroll-body="'#table-area-1'" scroll-stop="64">
                        <th>
                            <input type="checkbox" class="relative" ng-model="selectAll" ng-click="checkAll()" />
                        </th>
                        <th>Icon</th>
                        <th fsm-sort="name">Name</th>
                        <th fsm-sort="supplier.name">Supplier</th>
                        <th fsm-sort="type.name">Type</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, item) in data" ng-click="item.selected=!item.selected" ng-dblclick="editItem(item)">
                        <td>
                            <input type="checkbox" class="relative" ng-model="item.selected" ng-click="$event.stopPropagation()" />
                        </td>
                        <td class="f20">
                            <img ng-src="{{item.image.url}}" width="40px" height="40px" />
                        </td>
                        <td>{{ item.name }}</td>
                        <td>{{ suppliers[item.supplier_id].name }}</td>
                        <td>{{ types[item.type_id].name }}</td>
                        <td class="text-right" ng-click="$event.stopPropagation()">
                            <button type="button" class="btn btn-link btn-round" data-title="Edit item" ng-click="editItem(item)"><i class="md md-edit"></i></button>
                            <button type="button" class="btn btn-link btn-round" data-title="View item" ng-click="viewItem(item)"><i class="md md-search"></i></button>
                            <button type="button" class="btn btn-link btn-round" data-title="Delete item" ng-click="remove(item)"><i class="md md-delete"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="footer-buttons">
            <div class="btn btn-primary btn-round m-r-10 btn-footer" ng-show="(data|filter:{selected: true}).length" ng-click="remove()" data-title="Remove {{(data|filter:{selected: true}).length}} item(s)" bs-tooltip><i class="md md-delete"></i></div>
            <div class="btn btn-default btn-round m-r-10 btn-footer" scroll-to="top" ng-hide="scroll<100" data-title="Scroll to top" bs-tooltip><i class="md md-arrow-drop-up"></i></div>
            <div class="btn btn-primary btn-round " ng-click="createItem()" data-title="New {{settings.singular}}" bs-tooltip><i class="md md-add"></i></div>
        </div>
    </div>
</div>