<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
    <div class="close">
        <div class="btn btn-round btn-info" ng-click="$hide()"><i class="md md-close"></i></div>
    </div>
    <div class="aside-dialog">
        <div class="aside-body bs-sidebar">
            <form class="form-floating" novalidate="novalidate" ng-submit="saveItem(item)">
                <fieldset>
                    <legend> {{cmd}} {{settings.singular}}</legend>
                    <div class="form-group filled">
                        <label class="control-label">Name</label>
                        <input type="text" class="form-control" ng-model="item.name" ng-disabled="!item.editing" required>
                    </div>
                    <div class="form-group filled">
                        <label class="control-label">Supplier ID</label>
                        <ui-select ng-model="item.supplier" theme="select2" title="Choose a Supplier" search-enabled="false" ng-disabled="!item.editing">
                            <ui-select-match placeholder="Choose a Supplier">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="supplier in suppliers | filter: $select.search">
                                <div ng-bind-html="supplier.name | highlight: $select.search"></div>
                                <small ng-bind-html="supplier.description | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-primary" ng-hide="!item.editing">Save</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>