<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
    <div class="close">
        <div class="btn btn-round btn-info" ng-click="$hide()"><i class="md md-close"></i></div>
    </div>
    <div class="aside-dialog">
        <div class="aside-body bs-sidebar">
            <form class="form-floating" novalidate="novalidate" ng-submit="saveItem(item)">
                <legend><span ng-click="uploadImage()">
                      <img ng-src="{{item.image.url}}" height="35px" width="35px"/>
                    </span> {{cmd}} {{settings.singular}}</legend>
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" style="cursor: pointer;" role="tablist" ng-init="actionTab=1">
                        <li role="presentation" class="active"><a ng-click="actionTab=1" aria-controls="home" role="tab" data-toggle="tab">General</a></li>
                        <li role="presentation" class=""><a ng-click="actionTab=2" aria-controls="home" role="tab" data-toggle="tab">Activities</a></li>
                        <li role="presentation"><a ng-click="actionTab=3" aria-controls="home" role="tab" data-toggle="tab">Features</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content m-t-10">
                        <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==1}">
                            <fieldset>
                                <div class="form-group filled">
                                    <label class="control-label">Name</label>
                                    <input type="text" class="form-control" ng-model="item.name" ng-disabled="!item.editing" required>
                                </div>
                                <div class="form-group filled">
                                    <label class="control-label">Description</label>
                                    <textarea class="form-control" ng-model="item.description" ng-disabled="!item.editing"></textarea>
                                </div>
                                <div class="form-group filled">
                                    <label class="control-label">Supplier</label>
                                    <ui-select ng-model="item.supplier_id" theme="select2" title="Choose a Supplier" search-enabled="false" ng-disabled="!item.editing">
                                        <ui-select-match placeholder="Choose a Supplier">{{$select.selected.value.name}}</ui-select-match>
                                        <ui-select-choices repeat="supplier.value._id as (supplier_id, supplier) in suppliers | filter: $select.search">
                                            <div ng-bind-html="supplier.value.name | highlight: $select.search"></div>
                                            <small ng-bind-html="supplier.value.description | highlight: $select.search"></small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group filled">
                                    <label class="control-label">Department</label>
                                    <ui-select ng-model="item.department_id" theme="select2" title="Choose a department" search-enabled="false" ng-disabled="!item.editing" allow-clear="true">
                                        <ui-select-match placeholder="Choose a department">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="department._id as department in suppliers[item.supplier_id].departments | filter: $select.search">
                                            <div ng-bind-html="department.name | highlight: $select.search"></div>
                                            <small ng-bind-html="department.description | highlight: $select.search"></small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group filled">
                                    <label class="control-label">Type</label>
                                    <ui-select ng-model="item.type_id" theme="select2" title="Choose a type" search-enabled="false" ng-disabled="!item.editing">
                                        <ui-select-match placeholder="Choose a type">{{$select.selected.value.name}}</ui-select-match>
                                        <ui-select-choices repeat="type.value._id as (key,type) in types | filter: $select.search">
                                            <div ng-bind-html="type.value.name | highlight: $select.search"></div>
                                            <small ng-bind-html="type.value.description | highlight: $select.search"></small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group filled" style="max-width: 410px">
                                    <label class="control-label">Tags</label>
                                    <ui-select multiple tagging ng-model="item.tags" theme="select2" sortable="true" ng-disabled="!item.editing">
                                        <ui-select-match placeholder="Escriba un tag y presione enter...">{{$item}}</ui-select-match>
                                        <ui-select-choices repeat="a in []" style="display:none"></ui-select-choices>
                                    </ui-select>
                                </div>
                            </fieldset>
                        </div>
                        <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==2}">
                            <fieldset ng-repeat="(key, rs_activity) in item.rs_activities">
                                <div class="form-group filled">
                                    <label class="control-label">Activity</label>
                                    <ui-select ng-model="rs_activity.activity_id" theme="select2" title="Choose a activity" search-enabled="false" ng-disabled="!item.editing" required>
                                        <ui-select-match placeholder="Choose a activity">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="a._id as a in activities | filter: $select.search">
                                            <div ng-bind-html="a.name | highlight: $select.search"></div>
                                            <small ng-bind-html="a.description | highlight: $select.search"></small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group filled" ng-repeat="detail in rs_activity.details track by $index">
                                    <label class="control-label">Detail</label>
                                    <input type="text" class="form-control" ng-model="rs_activity.details[$index]" ng-disabled="!item.editing">
                                </div>
                            </fieldset>
                            <div class="form-group">
                                <span class="btn btn-sm btn-info" ng-hide="!item.editing" ng-click="addActivity()">Add activity</span>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==3}">
                            <fieldset ng-repeat="rs_feature in item.rs_features">
                                <div class="form-group filled">
                                    <label class="control-label">Type</label>
                                    <ui-select ng-model="rs_feature.feature" theme="select2" title="Choose a feature" search-enabled="false" ng-disabled="!item.editing" required>
                                        <ui-select-match placeholder="Choose a feature">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="a in features | filter: $select.search">
                                            <div ng-bind-html="a.name | highlight: $select.search"></div>
                                            <small ng-bind-html="a.description | highlight: $select.search"></small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group filled">
                                    <label class="control-label">Content</label>
                                    <textarea class="form-control" ng-model="rs_feature.content" ng-disabled="!item.editing"></textarea>
                                </div>
                            </fieldset>
                            <div class="form-group">
                                <span class="btn btn-sm btn-info" ng-hide="!item.editing" ng-click="addFeature()">Add feature</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-primary" ng-hide="!item.editing">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>