<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
    <div class="close">
        <div class="btn btn-round btn-info" ng-click="$hide()"><i class="md md-close"></i></div>
    </div>

    <div class="aside-dialog">
        <div class="aside-body bs-sidebar">

            <form class="form-floating" novalidate="novalidate" ng-submit="saveItem(item)">
                <fieldset>
                    <legend><span ng-bind-html="item.icon"></span> {{cmd}} {{settings.singular}}</legend>

                    <div class="form-group filled">
                        <label class="control-label">Name</label>
                        <input type="text" class="form-control" ng-model="item.name" ng-disabled="!item.editing" required>
                    </div>

                    <div class="form-group filled">
                        <label class="control-label">Description</label>
                        <input type="text" class="form-control" ng-model="item.description" ng-disabled="!item.editing">
                    </div>

                    <div class="form-group filled">
                        <label class="control-label">Tipo</label>
                        <ui-select ng-model="item.type" theme="select2" title="Choose a type" search-enabled="false" ng-disabled="!item.editing">
                            <ui-select-match placeholder="Choose a type">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="type in features_types | filter: $select.search">
                                <div ng-bind-html="type | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-primary" ng-hide="!item.editing">Save</button>
                    </div>



                </fieldset>
            </form>

        </div>
    </div>
</div>