<div class="container">
    <div class="home" ng-controller="HomeController">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="p-b-30">
                    <div class="text-center">
                        <img class="responsive" ng-src="{{APP.cdn_url}}/assets/img/logo-b.png" style="width: 100%;max-width: 350px" />
                    </div>
                </div>
                <form ng-submit="goToSearch()" novalidate>
                    <div class="form-group p-b-5">
                        <div class="input-group search-box search-box-lg">
                            <input type="text" class="form-control" ng-model="local_config.search_text" placeholder="Buscar...">
                            <span class="input-group-addon" title="Click para buscar" ng-click="goToSearch()">
                                <i class="md f20 pink-text darken-4 lighten pointer md-search" ></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-xs-12  col-sm-8 col-sm-offset-2 text-center" ng-if="most_used_tags">
                <div style="margin: 0 auto;">
                    <div class="clearfix">
                        <h4 class="grey-text no-m small strong">
                            <i class="md md-dashboard"></i>
                            <span class="">Etiquetas más utilizadas</span>
                        </h4>
                    </div>
                    <div class="">
                        <span ng-repeat="item in most_used_tags" class="most_used_tags">
                            <span class="btn-link uppercase" ng-style="{'font-size':item.size+'%'}"
                            ng-click="goToSearch(item.tag)"
                                bs-tooltip data-title="Click para buscar por tag  '{{item.tag}}'">{{item.tag}}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="clearfix">
                            <div class="pull-right">
                            </div>
                            <h4 class="grey-text text-center small strong">
                                <i class="md md-settings"></i>
                                <span class="">Busqueda avanzada</span>
                            </h4>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="row sameh">
                            <div class="col-xs-12 col-sm-6">
                                <div class="no-padding">
                                    <div class="panel p-10 activator pointer clearfix m-b-20" ng-repeat="i in suppliers track by $index">
                                        <div ng-click="toggleSelectSupplier(i)" ng-class="{'hoverable':!search_config.block_suppliers.suppliers[i._id].checked}">
                                            <div class="checkbox pull-left no-m-t no-m-b m-r-10 relative">
                                                <label class="absolute center hoverable-show">
                                                                    <input type="checkbox" ng-model="search_config.block_suppliers.suppliers[i._id].checked" />
                                                                </label>
                                                <img ng-src="{{i.image.url}}" width="50px" height="50px" class="img-responsive hoverable-hide" alt="" />
                                            </div>
                                            <div class="list-group-item-heading">{{i.name}}</div>
                                            <p class="list-group-item-text">{{getSelectedSupplierText(i)}}</p>
                                        </div>
                                        <div class="clear" ng-show="search_config.block_suppliers.suppliers[i._id].checked" ng-if="i.departments && i.departments.length">
                                            <div class="form p-10">
                                                <div class="form-group">
                                                    <ui-select multiple ng-model="search_config.block_suppliers.suppliers[i._id].departments_ids" theme="select2" close-on-select="false" title="Selecciona departamentos">
                                                        <ui-select-match placeholder="{{i.description.split(',')[4]}}">{{$item.name}}</ui-select-match>
                                                        <ui-select-choices repeat="department._id as department in i.departments | filter:$select.search">
                                                            {{department.name}}
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" bsx-collapse ng-model="search_config.block_types.collapsed" data-animation="am-flip-y" data-start-collapsed="true">
                                    <div class="card-header relative activator" bsx-collapse-toggle>
                                        <!--<div class="pull-right">
                                            <button type="button" class="btn btn-round-sm btn-info" bs-tooltip data-title="{{search_config.block_types.collapsed?'Ver todos':'Ocultar'}}"><span ng-class="{'md-expand-more':search_config.block_types.collapsed,'md-expand-less':!search_config.block_types.collapsed}"></span></button>
                                        </div>-->
                                        <div class="card-title">Tipo de recurso o servicio</div>
                                        <div class="small grey-text">{{getSelectedTypeText()}}</div>
                                    </div>
                                    <div class="list-group" bsx-collapse-target>
                                        <div class="list-group-item activator clearfix" ng-class="{'hoverable':!search_config.block_types.types[i._id].checked}" ng-repeat="i in types track by $index" ng-click="search_config.block_types.types[i._id].checked=!search_config.block_types.types[i._id].checked">
                                            <div class="checkbox pull-left no-m-t no-m-b m-r-10 relative">
                                                <label class="absolute center hoverable-show">
                                            <input type="checkbox" ng-model="search_config.block_types.types[i._id].checked" />
                                        </label>
                                                <img ng-src="{{i.image.url}}" class="img-responsive hoverable-hide" alt="" />
                                            </div>
                                            <div class="list-group-item-heading">{{i.name}}</div>
                                            <p class="list-group-item-text" title="{{i.description}}">{{i.description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="card" bsx-collapse ng-model="search_config.block_activities.collapsed" data-animation="am-flip-y" data-start-collapsed="true">
                                    <div class="card-header relative activator" bsx-collapse-toggle>
                                        <!--<div class="pull-right">
                                            <button type="button" class="btn btn-round-sm btn-info" bs-tooltip data-title="{{search_config.block_activities.collapsed?'Ver todos':'Ocultar'}}"><span ng-class="{'md-expand-more':search_config.block_activities.collapsed,'md-expand-less':!search_config.block_activities.collapsed}"></span></button>
                                        </div>-->
                                        <div class="card-title">Actividades pedagógicas</div>
                                        <div class="small grey-text">{{getSelectedActivityText()}}</div>
                                    </div>
                                    <div class="list-group" bsx-collapse-target>
                                        <div class="list-group-item activator clearfix" ng-class="{'hoverable':!search_config.block_activities.activities[i._id].checked}" ng-repeat="i in activities track by $index" ng-click="search_config.block_activities.activities[i._id].checked=!search_config.block_activities.activities[i._id].checked">
                                            <div class="checkbox pull-left no-m-t no-m-b m-r-10 relative">
                                                <label class="absolute center hoverable-show">
                                            <input type="checkbox" ng-model="search_config.block_activities.activities[i._id].checked" />
                                        </label>
                                                <img ng-src="{{i.image.url}}" class="img-responsive hoverable-hide" alt="" />
                                            </div>
                                            <div class="list-group-item-heading">{{i.name}}</div>
                                            <p class="list-group-item-text" title="{{i.description}}">{{i.description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 text-center m-b-25">
                <button class="btn btn-primary btn-border btn-lg m-r-10" ng-click="goToSearch()">Buscar</button>
            </div>
        </div>
    </div>
</div>