<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="">
            <div class="">
                <div class="card bordered z-depth-2" style="margin:0% auto; max-width:400px;">
                    <div class="card-header">
                        <div class="text-center f15 strong">
                            <img class="responsive" src="/assets/img/logo-solo.png" style="width: 100%;max-width: 80px" />
                        </div>
                    </div>
                    <form ng-submit="login()">
                        <div class="card-content">
                            <div class="text-center f15 strong">
                                Acceder
                            </div>
                            <div class="form-floating">
                                <div class="form-group">
                                    <label for="inputUsername" class="control-label">DNI</label>
                                    <input type="text" autocorrect="off" autocapitalize="off" spellcheck="false" class="form-control" id="inputUsername" ng-model="form_login.username" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="control-label">Contraseña = DNI</label>
                                    <input type="password" autocorrect="off" autocapitalize="off" spellcheck="false" class="form-control" id="inputPassword" ng-model="form_login.password" required>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="form_login.remember"> Recordarme después
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="has-error">
                                <span class="help-block has-error error-msg">{{conf.error}}</span>
                            </div>
                        </div>
                        <div class="card-action clearfix">
                            <div class="pull-right">
                                <!--<button type="button" class="btn btn-link black-text" ng-disabled="conf.busy">Recuperar contraseña</button>-->
                                <input type="submit" class="btn btn-link black-text" ng-disabled="conf.busy" value='{{conf.logging?"Iniciando sesión...":"Iniciar sesión"}}' />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>