<div class="container">
    <div class="home form-floating">
        <div class="row justify-content-center  p-v-20">
            <div class="col-xl-12 col-lg-12 m-b-50">
                <div class="widget card">
                    <div class="card-header" ng-class="{'with-image':rs.image}" ng-style="{'background-image': 'url(\''+rs.image.url+'\')'}">
                        <div class="actions">
                            <a href="" class="btn btn-link btn-icon ng-scope" bs-dropdown data-animation="mat-grow-top-right">
                                <i class="md md-more-vert"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">Opciones</li>
                                <li ng-click="uploadImage()" ng-if="!rs.image"><a href><i class="md md-add"></i> Agregar imagen</a></li>
                                <li ng-click="uploadImage()" ng-if="rs.image"><a href><i class="md md-refresh"></i> Modificar imagen</a></li>
                                <li class="divider"></li>
                                <li ng-click="rs.image=null" ng-if="rs.image"><a href><i class="md md-close"></i> Retirar imagen</a></li>
                            </ul>
                        </div>
                        <div class="content text-center">
                            <div class="title">
                                <div class="form-group full-input filled">
                                    <label class="control-label">Nombre del recurso o servicio</label>
                                    <input type="text" class="form-control input-lg text-center" ng-model="rs.name" maxlength="250">
                                </div>
                            </div>
                            <div class="sub-title">
                                <h2>
                                    <span ng-if="APP.user.role=='admin' && rs.creator">Creador por {{rs.creator.name}}</span>
                                    &nbsp;
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="bullets">
                        <div class="s1 pointer dropdown" bs-tooltip data-title="Tipo: {{rs.type_id?getType(rs.type_id).description:''}}">
                            <div class="avatar" ng-style="{'background-image': 'url(\''+getType(rs.type_id).image.url+'\')'}">
                            </div>
                            <small class="strong pointer uppercase" bs-dropdown>{{rs.type_id?getType(rs.type_id).name:'Tipo'}} <span class="caret"></span></small>
                            <ul class="dropdown-menu">
                                <li ng-repeat="type in types" ng-click="rs.type_id=type._id"><a href=""><small>{{type.name}}</small></a></li>
                            </ul>
                        </div>
                        <div ng-if="!rs._id" class="s1 pointer dropdown">
                            <div class="avatar" ng-style="{'background-image': 'url(\''+getSupplier(APP.user.supplier_id).image.url+'\')'}">
                            </div>
                            <small class="strong uppercase" ng-if="APP.user.role !='admin'">Sugerido por {{APP.user.name}}&nbsp;</small>
                            <small class="strong pointer uppercase" ng-if="APP.user.role =='admin'" bs-dropdown>Provisto por {{getDepartment(rs.department_id).name}}&nbsp; <span class="caret"></span></small>
                            <ul class="dropdown-menu">
                                <li ng-repeat="d in getSupplier(APP.user.supplier_id).departments" ng-click="rs.department_id=d._id"><a href=""><small>{{d.name}}</small></a></li>
                            </ul>
                        </div>
                        <div ng-if="rs._id" class="s1 pointer dropdown">
                            <div class="avatar" ng-style="{'background-image': 'url(\''+getSupplier(rs.supplier_id).image.url+'\')'}">
                            </div>
                            <small class="strong uppercase" ng-if="rs.creator.role !='admin'">Sugerido{{rs.creator.name?(' por '+rs.creator.name):''}}&nbsp;</small>
                            <small class="strong pointer uppercase" ng-if="APP.user.role =='admin' && rs.creator.role =='admin'" bs-dropdown>{{rs.department_id?('Provisto por '+getDepartment(rs.department_id).name):'Sugerido'}}&nbsp; <span class="caret"></span></small>
                            <ul class="dropdown-menu">
                                <li ng-click="rs.supplier_id=suppliers[1]._id;rs.department_id=null;"><a href=""><small>Sugerido</small></li>
                                <li ng-repeat="d in getSupplier(APP.user.supplier_id).departments" ng-click="rs.supplier_id=APP.user.supplier_id;rs.department_id=d._id"><a href=""><small>{{d.name}}</small></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div ng-sortable="{group:'features', animation:150, handle : '.drag-handle'}">
                        <div class="" ng-repeat="rs_feature in rs.rs_features" class="m-v-20">
                            <div class="col-xs-12" ng-class="['col-md-'+rs_feature.width]">
                                <div class="row">
                                    <div class="col-xs-12 m-t-10">
                                        <div class="pull-right">
                                            <div ng-if="!rs_feature.width || rs_feature.width==12" ng-click="rs_feature.width=6" class="btn btn-round-sm btn-link" bs-tooltip="" title="Reducir ancho"><i class="md md-skip-previous"></i></div>
                                            <div ng-if="rs_feature.width==6" ng-click="rs_feature.width=12" class="btn btn-round-sm btn-link" bs-tooltip="" title="Aumentar ancho"><i class="md md-skip-next"></i></div>
                                            <div ng-click="rs.rs_features.splice($index,1)" class="btn btn-round-sm btn-link" bs-tooltip="" title="Quitar esta característica"><i class="md md-delete"></i></div>
                                        </div>
                                        <h4 class="drag-handle grey-text"><i class="md md-dashboard"></i> {{rs_feature.feature.name}} <small class="text-mutted">{{rs_feature.feature.description}}</small></h4>
                                    </div>
                                    <div class="col-xs-12 m-b-10">
                                        <div ng-switch="rs_feature.feature.type">
                                            <div ng-switch-when="url">
                                                <div class="panel p-10">
                                                    <div class="form-group full-input">
                                                        <input type="url" placeholder="Escriba la dirección url http://..." class="form-control input-md" ng-model="rs_feature.content" ng-change="loadUrl(rs_feature)" ng-model-options='{ debounce: 1000 }' maxlength="250">
                                                    </div>
                                                    <div ng-if="rs_feature.url_data">
                                                        <div ng-include="APP.cdn_url+'/assets/tpl/partials/rs-feature-url.html?'+APP.refresh"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-switch-when="url_video">
                                                <div class="panel p-10">
                                                    <div class="form-group full-input">
                                                        <input type="url" placeholder="Escriba la dirección url del video http://..." class="form-control input-md" ng-model="rs_feature.content" ng-change="loadUrlVideo(rs_feature)" ng-model-options='{ debounce: 500 }' maxlength="250">
                                                    </div>
                                                    <div ng-if="rs_feature.url_data">
                                                        <div ng-include="APP.cdn_url+'/assets/tpl/partials/rs-feature-video.html?'+APP.refresh"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-switch-default>
                                                <div class="panel p-10">
                                                    <div class="">
                                                        <text-angular-toolbar name="up_toolbar_{{$index}}" ta-toolbar="[['bold', 'italics', 'ul', 'ol', 'redo', 'undo', 'insertImage', 'insertLink', 'insertVideo']]"></text-angular-toolbar>
                                                        <text-angular name="htmlcontent{{$index}}" ng-model="rs_feature.content" ta-target-toolbars="up_toolbar_{{$index}},down_toolbar_{{$index}}"></text-angular>
                                                        <text-angular-toolbar name="down_toolbar_{{$index}}" ta-toolbar="[['html', 'charcount', 'wordcount']]"></text-angular-toolbar>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 m-v-20">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-push-3">
                        <button class="btn btn-info btn-lg btn-block" data-toggle="dropdown">Agregar característica...  <span class="caret"></span></button>
                        <ul class="dropdown-menu" style="margin-top: 0px!important;right: 15px;left: 15px;max-height: 200px;overflow: auto;">
                            <li ng-click="!rs.rs_features?(rs.rs_features=[{feature:a}]):rs.rs_features.push({feature:a})" ng-repeat="a in features"><a href="">{{a.name}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div ng-if="rs.rs_activities.length">
                <div class="col-xs-12 m-t-10">
                    <h4 class="grey-text"><i class="md md-dashboard"></i> Potencial para actividades pedagógicas</h4>
                </div>
                <div class="col-xs-12 m-b-10">
                    <div class="row" ng-sortable="{group:'activities', animation:150, handle : '.drag-handle'}">
                        <div class="col-xs-12 m-b-10" ng-repeat="rs_activity in rs.rs_activities" ng-class-even="'col-sm-6'" ng-class-odd="$last?'':'col-sm-6'">
                            <div class="panel p-10">
                                <div class="pull-right">
                                    <div ng-click="rs_activity.details.push('')" class="btn btn-round-sm btn-link ng-scope" bs-tooltip="" title="Agregar linea"><i class="md md-add"></i></div>
                                    <div ng-click="rs.rs_activities.splice($index,1)" class="btn btn-round-sm btn-link ng-scope" bs-tooltip="" title="Quitar esta característica"><i class="md md-delete"></i></div>
                                </div>
                                <div class="activity-img drag-handle" ng-style="{'background-image': 'url(\''+getActivity(rs_activity.activity_id).image.url+'\')'}">
                                </div>
                                <div class="activity-content" style="margin-left: 60px;">
                                    <div class="strong uppercase">{{getActivity(rs_activity.activity_id).name}}:</div>
                                    <div ng-repeat="detail in rs_activity.details track by $index">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" type="text" ng-model="rs_activity.details[$index]">
                                                <div class="input-group-addon">
                                                    <a class="pointer" ng-click="rs_activity.details.splice($index,1)"><i class="md md-highlight-remove"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 m-v-20">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-push-3">
                        <button class="btn btn-warning btn-lg btn-block" data-toggle="dropdown">Agregar actividad pedagógica...  <span class="caret"></span></button>
                        <ul class="dropdown-menu" style="margin-top: 0px!important;right: 15px;left: 15px;max-height: 200px;overflow: auto;">
                            <li ng-click="addActivity(a._id)" ng-repeat="a in activities"><a href="">{{a.name}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-xs-12 m-t-10">
                    <h4 class="grey-text"><i class="md md-dashboard"></i> Palabras clave</h4>
                </div>
                <div class="col-xs-12 m-b-10">
                    <div class="panel p-10">
                        <div class="select-tags">
                            <ui-select multiple tagging-tokens="," tagging ng-model="rs.tags" theme="select2" sortable="true">
                                <ui-select-match placeholder="Escriba una palabra clave y presione enter...">{{$item}}</ui-select-match>
                                <ui-select-choices repeat="a in []" style="display:none"></ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 m-t-10 text-center">
                <p class="strong text-danger">{{errorSubmit}}</p>
                <button class="btn btn-lg m-10" ng-click="save()">{{rs._id?'Guardar':'Publicar'}}</button>
                <button class="btn btn-lg red m-10" ng-click="cancel()">{{rs._id?'Volver':'Cancelar'}}</button>
            </div>
        </div>
    </div>
</div>