<div class="container">
    <div class="home" ng-controller="RsController">
        <div class="row justify-content-center  p-v-20">

            <div class="col-xl-12 col-lg-12">
                <div class="widget card">
                    <div class="card-header" ng-class="{'with-image':rs.image}" ng-style="{'background-image': 'url(\''+rs.image.url+'\')'}">
                        <div class="actions pull-right" ng-if="APP.user && ((rs.created_by == APP.user._id) || (APP.user.role=='admin'))">
                            <a href="" class="btn btn-link btn-icon ng-scope" bs-dropdown data-animation="mat-grow-top-right">
                                <i class="md md-more-vert"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">Opciones</li>
                                <li><a ng-href="/rs/{{slug || rs._id}}/editar"><i class="md md-refresh"></i> Modificar</a></li>
                                <li class="divider"></li>
                                <li ng-click="removeRS(rs)"><a href><i class="md md-close"></i> Eliminar</a></li>
                            </ul>
                        </div>
                        <div class="content text-center">
                            <div class="title">
                                <a href="/rs/{{slug}}">
                                    <h1>{{rs.name}}</h1>
                                </a>
                            </div>
                            <div class="sub-title">
                                <h2>
                                    <!--<small ng-if="rs.creator && rs.creator.role !='admin'">Sugerido por {{rs.creator.name}}</small>-->
                                    <span style="font-size: 12px;color: #fff;" class="text-mutted" ng-if="rs.updated_at" bs-tooltip data-title="{{rs.updated_at}}">Actualizado {{rs.updated_at | timeAgo}} <i class="md md-timer"></i></span>
                                </h2>
                            </div>
                        </div>
                    </div>

                    <div class="bullets">
                        <div class="s1" ng-if="rs.type_id">
                            <div class="avatar" ng-style="{'background-image': 'url(\''+getType(rs.type_id).image.url+'\')'}">
                            </div>
                            <small class="strong">{{getType(rs.type_id).name}}&nbsp;</small>
                        </div>
                        <div class="s1" ng-if="rs.supplier_id">
                            <div class="avatar" ng-style="{'background-image': 'url(\''+getSupplier(rs.supplier_id).image.url+'\')'}">
                            </div>
                            <small class="strong uppercase" ng-if="rs.creator.role !='admin'">Sugerido por {{rs.creator.name}}&nbsp;</small>
                            <small class="strong uppercase" ng-if="rs.creator.role =='admin'">{{rs.department_id?('Provisto por '+getDepartment(rs.department_id).name):'Sugerido'}}&nbsp;</small>
                        </div>
                    </div>
                </div>
                <div class="califications m-t-55">
                    <div class="calification left text-center" ng-if="action!='main'">
                        <div class="link uppercase strong">
                            <a ui-sref="rs({slug:slug})" style="line-height: 60px;">
                                <button class="btn btn-link btn-flat strong">Ir al contenido</button>
                            </a>
                        </div>
                    </div>
                    <div class="calification right text-center" ng-if="action!='calificar'">

                        <div class="content">
                            <a ui-sref="{{'rs/'+slug+'/calificar'}}">
                                <div class="yellow-text accent-4 f20 pointer text-center" ng-if="rs.rs_rates" bs-popover data-placement="top" data-trigger="hover" data-container="body" data-auto-close="false" data-template-url="/assets/tpl/partials/tooltip.html?{{APP.refresh}}">
                                    <i class="md" title="Malo" ng-class="[rs.rs_rates.styles[0]]"></i>&nbsp;
                                    <i class="md" title="Aceptable" ng-class="[rs.rs_rates.styles[1]]"></i>&nbsp;
                                    <i class="md" title="Regular" ng-class="[rs.rs_rates.styles[2]]"></i>&nbsp;
                                    <i class="md" title="Bueno" ng-class="[rs.rs_rates.styles[3]]"></i>&nbsp;
                                    <i class="md" title="Grandioso" ng-class="[rs.rs_rates.styles[4]]"></i>
                                </div>
                                <div class="link uppercase strong pointer" ng-click="$event.preventDefault();goRate();">
                                    <button class="btn btn-link btn-flat strong">Calificar y compartir</button>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="calification right text-center" ng-class="{'left':(action=='main')}" ng-if="action!='calificaciones'">
                        <div class="link uppercase ">
                            <a ui-sref="rs-action({slug:slug,action:'calificaciones'})" style="line-height: 60px;">
                                <button class="btn btn-link btn-flat strong">Ver calificaciones</button>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="slide-animate" ng-include="APP.cdn_url+'/assets/tpl/partials/rs-'+action+'.html?'+APP.refresh"></div>
                </div>
            </div>
        </div>
    </div>
</div>