<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
    <div class="close">
        <div class="btn btn-round btn-info" ng-click="hideForm()"><i class="md md-close"></i></div>
    </div>
    <div class="aside-dialog">
        <div class="aside-body bs-sidebar" style="padding: 20px !important;">
            <div style="max-width: 440px;">
                <div>
                    <div class="clearfix">
                        <div class="pull-right">
                        </div>
                        <h4 class="grey-text ">
                            <i class="md md-settings"></i>
                            <span class="">Busqueda avanzada</span>
                        </h4>
                    </div>
                </div>
                <div>
                    <div class="no-padding">
                        <div class="panel p-10 activator pointer clearfix m-b-20" ng-repeat="i in suppliers track by $index">
                            <div ng-click="toggleSelectSupplier(i)" ng-class="{'hoverable':!search_config.block_suppliers.suppliers[i._id].checked}">
                                <div class="checkbox pull-left no-m-t no-m-b m-r-10 relative">
                                    <label class="absolute center hoverable-show">
                                                    <input type="checkbox" ng-model="search_config.block_suppliers.suppliers[i._id].checked" />
                                                </label>
                                    <img ng-src="{{i.image.url}}" width="50px" height="50px" class="img-responsive hoverable-hide" alt="" />
                                </div>
                                <div class="list-group-item-heading">{{i.name}}</div>
                                <p class="list-group-item-text">{{getSelectedSupplierText(i)}}</p>
                            </div>
                            <div class="clear" ng-show="search_config.block_suppliers.suppliers[i._id].checked" ng-if="i.departments && i.departments.length">
                                <div class="form p-10">
                                    <div class="form-group">
                                        <ui-select multiple ng-model="search_config.block_suppliers.suppliers[i._id].departments_ids" theme="select2" close-on-select="false" title="Selecciona departamentos">
                                            <ui-select-match placeholder="{{i.description.split(',')[4]}}">{{$item.name}}</ui-select-match>
                                            <ui-select-choices repeat="department._id as department in i.departments | filter:$select.search">
                                                {{department.name}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card" bsx-collapse ng-model="search_config.block_types.collapsed" data-animation="am-flip-y">
                        <div class="card-header relative" bsx-collapse-toggle>
                            <!--<div class="action pull-right">
                                <button type="button" class="btn btn-round-sm btn-info" data-title="{{search_config.block_types.collapsed?'Ver todos':'Ocultar'}}"><span ng-class="{'md-expand-more':search_config.block_types.collapsed,'md-expand-less':!search_config.block_types.collapsed}"></span></button>
                            </div>-->
                            <div class="card-title">Tipo de recurso o servicio</div>
                            <div class="small grey-text">{{getSelectedTypeText()}}</div>
                        </div>
                        <div class="list-group" bsx-collapse-target>
                            <div class="list-group-item activator clearfix" ng-class="{'hoverable':!search_config.block_types.types[i._id].checked}" ng-repeat="i in types track by $index" ng-click="search_config.block_types.types[i._id].checked=!search_config.block_types.types[i._id].checked">
                                <div class="checkbox pull-left no-m-t no-m-b m-r-10 relative">
                                    <label class="absolute center hoverable-show">
                                        <input type="checkbox" ng-model="search_config.block_types.types[i._id].checked" />
                                    </label>
                                    <img ng-src="{{i.image.url}}" class="img-responsive hoverable-hide" alt="" />
                                </div>
                                <div class="list-group-item-heading">{{i.name}}</div>
                                <p class="list-group-item-text" title="{{i.description}}">{{i.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card" bsx-collapse ng-model="search_config.block_activities.collapsed" data-animation="am-flip-y">
                        <div class="card-header relative" bsx-collapse-toggle>
                            <!--<div class="action pull-right">
                                <button type="button" class="btn btn-round-sm btn-info" data-title="{{search_config.block_activities.collapsed?'Ver todos':'Ocultar'}}"><span ng-class="{'md-expand-more':search_config.block_activities.collapsed,'md-expand-less':!search_config.block_activities.collapsed}"></span></button>
                            </div>-->
                            <div class="card-title">Actividades pedagógicas</div>
                            <div class="small grey-text">{{getSelectedActivityText()}}</div>
                        </div>
                        <div class="list-group" bsx-collapse-target>
                            <div class="list-group-item activator clearfix" ng-class="{'hoverable':!search_config.block_activities.activities[i._id].checked}" ng-repeat="i in activities track by $index" ng-click="search_config.block_activities.activities[i._id].checked=!search_config.block_activities.activities[i._id].checked">
                                <div class="checkbox pull-left no-m-t no-m-b m-r-10 relative">
                                    <label class="absolute center hoverable-show">
                                        <input type="checkbox" ng-model="search_config.block_activities.activities[i._id].checked" />
                                    </label>
                                    <img ng-src="{{i.image.url}}" class="img-responsive hoverable-hide" alt="" />
                                </div>
                                <div class="list-group-item-heading">{{i.name}}</div>
                                <p class="list-group-item-text" title="{{i.description}}">{{i.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center p-b-45">
                    <button class="btn btn-primary m-10" ng-click="goToSearch()">Buscar</button>
                    <button class="btn btn-danger btn-bordered m-10" ng-click="clearAdvanceSearch()">Limpiar</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>