<div class="container">
    <div class="home" ng-controller="SearchController">
        <div class="row justify-content-center  p-v-20">
            <div class="col-xs-12 m-b-20" ng-if="!collection">
                <form class="form-inline" ng-submit="goToSearch()" novalidate>
                    <div class="col-xs-12 text-center">
                        <div class="form-group no-m-b">
                            <div class="input-group search-box">
                                <input type="text" class="form-control" ng-model="local_config.search_text" style="min-width: 210px;" placeholder="Buscar...">
                                <span class="input-group-addon pointer" ng-click="goToSearch()"><i class="md md-search blue-text f20 "></i></span>
                            </div>
                        </div>
                        <a class="m-10 btn btn-default" ng-click="toogleForm()">Avanzado</a>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 m-b-20 text-center" ng-if="collection">
                <h1 ng-if="collection=='my_suggestions'">Mis sugeridos</h1>
                <h1 ng-if="collection=='my_rates'">Calificados por mi</h1>
            </div>
            <div class=" col-xs-12 b-b clearfix">
                <div class="m-v-20 p-v-10">
                    <div class="pull-right">
                        <button class="btn btn-link btn-flat dropdown-toggle" data-toggle="dropdown">
                            <i class="md md-sort" ng-class="{ 'fa-rotate-180':search_config.order_asc}"></i> Ordenar {{order_options[search_config.order_by_index]}}
                        </button>
                        <ul class="dropdown-menu uppercase">
                            <li ng-repeat="opt in order_options" ng-click="changeOrder($index)"><a href="">{{opt}}</a></li>
                        </ul>
                    </div>
                    <h4 class="grey-text">
                        <i class="md md-dashboard"></i>
                        <span class="">Unos {{results.length}} resultados</span>
                    </h4>
                </div>
            </div>
            <div class="col-xs-12 search-results">
                <div class="well card white m-b-10 result-item" ng-class="{ 'with-image':result.image}" ng-repeat="result in results">
                    <div class="actions pull-right" ng-if="APP.user && ((result.creator._id==APP.user._id) || (APP.user.role=='admin' ))">
                        <a href="" class="btn btn-link btn-icon ng-scope" bs-dropdown data-animation="mat-grow-top-right">
                            <i class="md md-more-vert"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-header">Opciones</li>
                            <li><a ng-href="rs/{{result.slug || result._id}}/editar"><i class="md md-refresh"></i> Modificar</a></li>
                            <li class="divider"></li>
                            <li ng-click="removeRS(result)"><a href><i class="md md-close"></i> Eliminar</a></li>
                        </ul>
                    </div>
                    <a ng-href="rs/{{result.slug || result._id}}">
                        <div class="result-header">
                            <div class="result-image" ng-if="result.image" ng-style="{ 'background-image': (result.image.url? 'url(\' '+result.image.url+'\')': '')}"></div>
                            <div class="calification" ng-if="result.rs_rates">
                                <div class="yellow-text accent-4 f15">
                                    <i class="md" title="Malo" ng-class="[result.rs_rates.styles[0]]"></i>&nbsp;
                                    <i class="md" title="Aceptable" ng-class="[result.rs_rates.styles[1]]"></i>&nbsp;
                                    <i class="md" title="Regular" ng-class="[result.rs_rates.styles[2]]"></i>&nbsp;
                                    <i class="md" title="Bueno" ng-class="[result.rs_rates.styles[3]]"></i>&nbsp;
                                    <i class="md" title="Grandioso" ng-class="[result.rs_rates.styles[4]]"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="result-body">
                        <span class="badge blue lighten-2">{{getType(result.type_id).name}}</span>
                        <h2 class="result-title"><a ng-href="rs/{{result.slug || result._id}}" class="grey-text darken-2">{{result.name}}</a></h2>
                        <div class="text-muted bullet-separator">
                            <small ng-if="result.creator && (result.creator.role!='admin' )"><i class="md md-person"></i> {{result.creator.name}}</small>
                            <small ng-if="result.department_id" title="{{getDepartment(result.department_id).name}}">{{getDepartment(result.department_id).name}}</small>
                            <small title="{{result.updated_at | date }}"><i class="md md-timer"></i> {{result.updated_at | timeAgo}}</small>
                        </div>
                        <div ng-if="result.description">
                            {{result.description}}
                        </div>
                        <div class="m-t-5">
                            <div ng-repeat="rs_activity in result.rs_activities | limitTo : 3">
                                <span class="text-gray-dark" ng-repeat="detail in rs_activity.details | limitTo: 1 track by $index">
                                    <small class="strong f10 text-muted">{{getActivity(rs_activity['activity_id']).name}}:</small> {{detail}}<br>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 text-center" ng-if="results.length==0 && !searching">
                <h5>No se encontraron resultados de <strong>{{local_config.search_text}}</strong></h5>
            </div>
        </div>
    </div>
</div>