<div class="relative" ng-if="rs_feature.url_data && rs_feature.url_data.type=='youtube'"><div class="content-16x9"><iframe style="width: 100%;height:100%" ng-src="{{getUrlSecure('https://www.youtube.com/embed/'+rs_feature.url_data.v)}}" frameborder="0" allowfullscreen></iframe></div></div>